.call-to-action {
    background-color: #8BE8D2;
}


    .call-to-action:hover {
        background-color: #ff6600;
        color: white;
    }

.table-height{
    height: 70vh;
}

th{
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
}
