.navbar-nav li {
  margin: 0 15px 0 15px;
  font-size: 1.6rem;
  color: white;
  border: 5px #4C241D;
  border-radius: 5px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #4CAB98;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #ff6600;
}

.navbar a {
  text-transform: uppercase;
}

.icon {
  width: 35px;
  height: 3px;
  background-color: #2e4054;
  margin: 6px 0;
}