html* {
  font-family: "Ubuntu", sans-serif;
}
.pop-up {
  position: fixed;
  top: 80px;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.single-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.btn-cta {
  background-color: #8be8d2;
  min-width: 70px;
}

.btn-cta:hover {
  background-color: #ff6600;
  color: white;
}

.btn-outline-cta {
  background-color: white;

  border: 1px solid #8be8d2;
  min-width: 70px;
}

.btn-outline-cta:hover {
  border: 1px solid #ff6600;
  background-color: #ff6600;
  color: white;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #8be8d2;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  vertical-align: middle;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff6600;
}
